html {
       overflow-y: scroll;
}

body {
	font-family: Indie Flower ;
	background-image: url("../images/background.jpg");
	background-color: #cccccc;
}

.content {
	margin-bottom: 80px ;
}

.contenedor {
	margin-top: 20px ;
	background-color: #f8f8f8 ;
	box-shadow: 0 3px 14px rgba(0,0,0,0.4) ;
	border-radius: 5px;
}

.container_title {
	padding-top: 1px ;
	padding-bottom: 1px ;
	font-weight: bold;
	text-align: center; 
	vertical-align: middle;  
}

#user_name {
	font-size : 25px ;
	font-weight: bold ;
	color : white ;
	float: right;
	padding-top: 8px ;
	margin-right: 20px ;
}
#user_loggout {
	margin-top: 8px ;
	cursor:pointer;
	float: right !important ;
	font-weight: bold ;
}